@import "tailwindcss";

:root {
	--primary-color: #1993e5;
	--background-color: #f0f3f4;
	--card-background-color: #ffffff;
	--text-primary: #111518;
	--text-secondary: #637988;
	--border-color: #dce1e5;
	--card-item-bg: #f8f9fa;
}

.dark {
	--background-color: #1a202c;
	--card-background-color: #2d3748;
	--text-primary: #f7fafc;
	--text-secondary: #a0aec0;
	--border-color: #4a5568;
	--card-item-bg: #4a5568;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.animate-fade-in {
	animation: fade-in 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}
